extends layout

block content
  -
   let animal = results
  h1= title
  .container-fluid 
    .row 
    
      each animal in results
        div(class="col-sm-2" style=`border:solid 2px black` onclick=`buy(${results.indexOf(animal)})`) 
          each value,key in animal 
            = key + " : " + value
            br
  
  script.
    function buy(index) {
        alert("You Purchased item "+(index+1))
    }
  
