extends layout

block content
    h1= title
    form(id='animalForm', action="/resource/animal", method="POST")
        div.form-group
            label.animalAttr(for='animal_Name') animal name
            input#animal_Name(type='text', name='animal_Name')
        div.form-group
            label.animalAttr(for='animal_breed') animal breed
            input#size(type='text', name='animal_breed')
        div.form-group
            label.animalAttr(for='animal_cost') animal cost
            input#cost(type='number', name='animal_cost')
        input(type="submit")
    script.
        document.forms['animalForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });

