extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to update
    else
        - let animalid = toShow._id
        - let animal_Name = toShow.animal_Name
        - let animal_breed = toShow.breed
        - let animal_cost  = toShow.cost
        div.row(class='mb-2')
            div.mr-1 ID is
            div #{animalid}
        - let actionid = "/resource/animal/" + animalid
        form(id='animalForm', action= actionid, method="PUT")
            div.form-group
                label.animalAttr(for='animal_Name') animal Name
                input#animal_type(type='text', name='animal_Name', value= animal_Name )
            div.form-group
                label.animalAttr(for='animal_breed') animal breed
                input#size(type='text', name='animal_breed', value= animal_breed )
            div.form-group
                label.animalAttr(for='animal_cost') animal cost
                input#cost(type='number', name='animal_cost', value= animal_cost, min =10, max  = 1000  )
            input(type="submit")
        script.
            document.forms['animalForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'PUT',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Update succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Update failed " + error )
                });
            });
