body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.animalAttr {
  background-color:burlywood;
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
  padding: 20px;
  color:darkred;
  border: 2px solid black;
  }
  
